// Color Variables
$white : #fff;
$black : #000;
$navyblue : #2D3F54;
$greenblue : #73CAC7;
$gray : #E8E8E8;
$darkgray : #646464;
$bgray : #979797;
$lightgray : #F1F5FA;
$yellow : #FCDE76;
$red : #FF9696;
// Text Color
.color{
    &-white{
        color:$white !important;
    }
    &-black{
        color:$black !important;
    }
    &-yellow{
        color:$yellow !important;
    }
    &-greenblue{
        color:$greenblue !important; 
    }
    &-gray{
        color:$gray !important;
    }
    &-bgray{
        color:$bgray !important;
    }
    &-darkgray{
        color:$darkgray !important;
    }
    &-lightgray{
        color:$lightgray !important;
    }
    &-red{
        color:$red !important;
    }
}
// Backgrounds
.bg{
    &-white{
        background-color:$white !important;
    }
    &-yellow{
        background-color:$yellow !important;
    }
    &-greenblue{
        background-color:$greenblue !important;
    }
    &-gray{
        background-color:$gray !important;
    }
    &-bgray{
        background-color:$bgray !important;
    }
    &-darkgray{
        background-color:$darkgray !important;
    }
    &-red{
        background-color:$red !important;
    }
    &-navyblue{
        background-color:$navyblue !important;
        // &-light{
        //   background-color: lighten($navyblue, 20%);
        // }
    }
    &-lightgray{
        background-color:$lightgray !important;
    }
}
